---
layout: default
---
{% include banner.html %}

    <!-- paragraph -->
    <div class="section">
      <div class="row">
        <div class="col l4 m10 offset-m1 s10 offset-s1">
          <p class="center" style="text-align:justify;">{{ site.data.home.paragraph }}</p>
        </div>
        <div class="col l8 m12 s12">
          {% assign all = site.data.lista_eventi| concat: site.data.lista_corsi %}
          {% include news_slideshow.html slides=all sort="date" reverse="true" nmax=3 %}
        </div>
      </div>
    </div>