<div class="row">
	{% for item in include.buttons %}
		{% assign len = include.buttons.size %}
		{% assign len1 = len|minus:1 %}
		{% assign d03 = len|modulo:3 %}
		{% assign d13 = len1|modulo:3 %}
		{% assign d02 = len|modulo:2 %}
		{% assign index = forloop.index %}
		{% if index == len1 %}
			{% if d03!=0 and d13!=0 %}
				<div class="col l4 offset-l2 m6 s12 center">
					<div class="row center">
                                                <a href="{{ site.url }}/{{ item.url }}" class="btn-large waves-effect waves-light"
                                                {% if item.download %} download {% endif %}
                                                >{{ item.name }}</a>
                                        </div>
				</div>
			{% elsif d03==0 and d13!=0 %}
				<div class="col l4 m6 s12 center">
					<div class="row center">
                                                <a href="{{ site.url }}/{{ item.url }}" class="btn-large waves-effect waves-light"
                                                {% if item.download %} download {% endif %}
                                                >{{ item.name }}</a>
                                        </div>
				</div>
			{% elsif d03!=0 and d13==0 %}
				<div class="col l4 m6 s12 center">
					<div class="row center">
                                                <a href="{{ site.url }}/{{ item.url }}" class="btn-large waves-effect waves-light"
                                                {% if item.download %} download {% endif %}
                                                >{{ item.name }}</a>
                                        </div>
				</div>
			{% endif %}
		{% elsif index == len %}
			{% if d03!=0 and d13!=0 %}
				{% if d02!=0 %}
					<div class="col l4 m6 offset-m3 s12 center">
						<div class="row center">
                                                        <a href="{{ site.url }}/{{ item.url }}" class="btn-large waves-effect waves-light"
                                                        {% if item.download %} download {% endif %}
                                                        >{{ item.name }}</a>
                                                </div>
					</div>
				{% else %}
					<div class="col l4 m6 s12 center">
						<div class="row center">
                                                        <a href="{{ site.url }}/{{ item.url }}" class="btn-large waves-effect waves-light"
                                                        {% if item.download %} download {% endif %}
                                                        >{{ item.name }}</a>
                                                </div>
					</div>
				{% endif %}
			{% elsif d03==0 and d13!=0 %}
				{% if d02!=0 %}
					<div class="col l4 m6 offset-m3 s12 center">
						<div class="row center">
                                                        <a href="{{ site.url }}/{{ item.url }}" class="btn-large waves-effect waves-light"
                                                        {% if item.download %} download {% endif %}
                                                        >{{ item.name }}</a>
                                                </div>
					</div>
				{% else %}
					<div class="col l4 m6 s12 center">
						<div class="row center">
                                                        <a href="{{ site.url }}/{{ item.url }}" class="btn-large waves-effect waves-light"
                                                        {% if item.download %} download {% endif %}
                                                        >{{ item.name }}</a>
                                                </div>
					</div>
				{% endif %}
			{% elsif d03!=0 and d13==0 %}
				{% if d02!=0 %}
					<div class="col l4 offset-l4 m6 offset-m3 s12 center">
						<div class="row center">
                                                        <a href="{{ site.url }}/{{ item.url }}" class="btn-large waves-effect waves-light"
                                                        {% if item.download %} download {% endif %}
                                                        >{{ item.name }}</a>
                                                </div>
					</div>
				{% else %}
					<div class="col l4 offset-l4 m6 s12 center">
						<div class="row center">
                                                        <a href="{{ site.url }}/{{ item.url }}" class="btn-large waves-effect waves-light"
                                                        {% if item.download %} download {% endif %}
                                                        >{{ item.name }}</a>
                                                </div>
					</div>
				{% endif %}
			{% endif %}
		{% else %}
			<div class="col l4 m6 s12 center">
				<div class="row center">
					<a href="{{ site.url }}/{{ item.url }}" class="btn-large waves-effect waves-light"
					{% if item.download %} download {% endif %}
					>{{ item.name }}</a>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>
