<div class="row">
	{% for item in include.icons %}
		{% assign len = include.icons.size %}
		{% assign len1 = len|minus:1 %}
		{% assign d03 = len|modulo:3 %}
		{% assign d13 = len1|modulo:3 %}
		{% assign index = forloop.index %}
		{% if index == len1 %}
			{% if d03!=0 and d13!=0 %}
				<div class="col l4 offset-l2 m4 offset-m2 s12 center">
					<div class="icon-block">
						<h4 class="center"><i class="medium material-icons custom1-text">{{ item.icon }}</i></h4>
						<h4 class="center">{{ item.name }}</h4>
						<p align="center">{{ item.text }}</p>
					</div>
				</div>
			{% elsif d03==0 and d13!=0 %}
				<div class="col l4 m4 s12 center">
					<div class="icon-block">
						<h4 class="center"><i class="medium material-icons custom1-text">{{ item.icon }}</i></h4>
						<h4 class="center">{{ item.name }}</h4>
						<p align="center">{{ item.text }}</p>
					</div>
				</div>
			{% elsif d03!=0 and d13==0 %}
				<div class="col l4 m4 s12 center">
					<div class="icon-block">
						<h4 class="center"><i class="medium material-icons custom1-text">{{ item.icon }}</i></h4>
						<h4 class="center">{{ item.name }}</h4>
						<p align="center">{{ item.text }}</p>
					</div>
				</div>
			{% endif %}
		{% elsif index == len %}
			{% if d03!=0 and d13!=0 %}
                                <div class="col l4 m4 s12 center">
                                        <div class="icon-block">
                                                <h4 class="center"><i class="medium material-icons custom1-text">{{ item.icon }}</i></h4>
                                                <h4 class="center">{{ item.name }}</h4>
                                                <p align="center">{{ item.text }}</p>
                                        </div>
                                </div>
			{% elsif d03==0 and d13!=0 %}
				<div class="col l4 m4 s12 center">
                                        <div class="icon-block">
                                                <h4 class="center"><i class="medium material-icons custom1-text">{{ item.icon }}</i></h4>
                                                <h4 class="center">{{ item.name }}</h4>
                                                <p align="center">{{ item.text }}</p>
                                        </div>
                                </div>
			{% elsif d03!=0 and d13==0 %}
                                <div class="col l4 offset-l2 m4 offset-m2 s12 center">
                                        <div class="icon-block">
                                                <h4 class="center"><i class="medium material-icons custom1-text">{{ item.icon }}</i></h4>
                                                <h4 class="center">{{ item.name }}</h4>
                                                <p align="center">{{ item.text }}</p>
                                        </div>
                                </div>
			{% endif %}
		{% else %}
			<div class="col l4 m4 s12 center">
				<div class="icon-block">
					<h4 class="center"><i class="medium material-icons custom1-text">{{ item.icon }}</i></h4>
					<h4 class="center">{{ item.name }}</h4>
					<p align="center">{{ item.text }}</p>
				</div>
			</div>
		{% endif %}
                {% if index|modulo:3 == 0 and index!=len %}
                        </div>
                        <div class="row">
                {% endif %}
	{% endfor %}
</div>
