{% assign counter0 = 0 %}
{% if include.filter %}
	{% assign filter=include.filter %}
	{% assign filterv=include.filter_value %}
{% else %}
	{% assign filter="none" %}
	{% assign filterv="true" %}
{% endif %}
{{ filter }}
{{ filterv }}
{% for item in include.cards %}
	{{ forloop.counter0 }}":"{{ counter0 }}
	{% if filter=="none" or item[filter]==filterv %}
		{% if counter0|divisibleby:2 %}
			a
		{% endif %}
		{% assign counter0 = counter0|plus:1 %}
		{% if counter0|divisibleby:2 %}
			b
		{% endif %}
	{% endif %}
{% endfor %}