{% assign counter0 = 0 %}
{% if include.filter %}
	{% assign filter=include.filter %}
	{% assign filterv=include.filter_value %}
{% else %}
	{% assign filter="none" %}
	{% assign filterv="true" %}
{% endif %}
{{ filter }}
{{ filterv }}
{% for item in include.cards %}
	":"{{ counter0 }}
	{% if filter=="none" or item[filter]==filterv %}
		{% assign c0mod = counter0|modulo:2 %}
		{% if c0mod == 0 %}
			a
		{% endif %}
		{% assign counter0 = counter0|plus:1 %}
		{% assign c0mod = counter0|modulo:2 %}
		{% if c0mod == 0 or forloop.rindex0 == 0 %}
			b{{ c0mod }}b
		{% endif %}
	{% endif %}
{% endfor %}