---
layout: page
title: {{ page.title }}
---

<!--
Esempio di utilizzo (tutti i campi principali sono opzionali)

ATTENZIONE! Le stringhe che contengono : ' -  vanno messe tra doppie virgolette "". 
Se invece ho nel testo delle " allora uso '' per contenerlo.

Le liste possono avere un numero arbitrario di elementi (<50), basta aggiungerne con la stessa sintassi.

ATTENZIONE!!!! Gli spazi sono importanti per separare i blocchi (per sicurezza usare questo esempio) 
e MAI USARE TAB, SOLO SPAZI.

Tutti gli url sono relativi alla cartella principale di Github (es. url: downloads/latex_19/Pillole_di_LaTeX_I.pdf )

Per una lista delle icone da mettere nel campo icon: https://material.io/resources/icons/?style=baseline

---
layout: corso_evento
title: 
locandina: 
           url: 
           alt: 
incipit: 
icon_block_list:
                  - name: 
                    text: 
                    icon: vedi sopra per una lista
                  - name: 
                    text: 
                    icon: 
button_intro: 
button_list: 
             - url: 
               name: 
               download: attivo se impostato, non attivo se non specificato
             - url: 
               name: 
               download: 
button_collection: 
                   - url: 
                     name: 
                     text: 
                     download: 
                   - url: 
                     name: 
                     text: 
                     download: 
social:
        instagram:
		facebook:
credits: 
---


-->

{% if page.locandina %}
<div class="row">
	<div class="col l8 offset-l2 m8 offset-m2 s8 offset-s2">
		<img src="{{ site.url }}/{{ page.locandina.url }}" alt="{{ page.locandina.alt }}">
	</div>
</div>
{% endif %}

{% if page.incipit %}
<div class="row">
	<div class="col s8 offset-s2" style="text-align:justify">
		<b>{{ page.incipit }}</b></br>
	</div>
</div>
{% endif %}

{% if page.icon_block_list %}
	{% include icon_block_list.html icons=page.icon_block_list %}
{% endif %}

{{ content }}

{% if page.button_list or page.button_collection or page.button_intro %}
<div class="card horizontal">
	<div class="card-content">
	
		{% if page.button_intro %}
		<div class="row" style="text-align:justify">
			{{ page.button_intro }}
		</div>
		{% endif %}
		
		{% if page.button_list %}
			{% include button_list.html buttons=page.button_list %}
		{% endif %}
		
		{% if page.button_collection %}
		<ul class="collection">
			<li><div class="row"></div></li>
			{% for item in page.button_collection %}
			<li>
				<div class="row">
					<div class="col l4 m4 s12 center">
						{% if item.download %}
						<a href="{{ site.url }}/{{ item.url }}" id="l1" class="btn-large waves-effect waves-light" download>{{ item.name }}</a>
						{% else %}
						<a href="{{ site.url }}/{{ item.url }}" id="l1" class="btn-large waves-effect waves-light">{{ item.name }}</a>
						{% endif %}
					</div>
					<div class="col l8 m8 s12 center">
						<br/>{{ item.text }}
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		
	</div>
</div>
{% endif %}

{% if page.social %}
	<div class="row">
		<div class="col l3 offset-l3 m3 offset-m3 s4 offset-s2">
			{% if page.social.facebook %}
				<a href="{{ page.social.facebook }}" class="fa fa-facebook fa-5x"></a>
			{% else %}
				<a href="{{ site.data.generic.facebook_url }}" class="fa fa-instagram fa-5x"></a>
			{% endif %}
		</div>
		<div class="col l3 m3 s4">
			{% if page.social.instagram %}
				<a href="{{ page.social.instagram }}" class="fa fa-instagram fa-5x"></a>
			{% else %}
				<a href="{{ site.data.generic.instagram_url }}" class="fa fa-instagram fa-5x"></a>
			{% endif %}
		</div>
	</div>
{% endif %}

{% if page.credits %}
<div class="row">
	<div class="col s8 offset-s2" style="text-align:justify">
		<i>{{ page.credits }}</i><br/><br/>
	</div>
</div>
{% endif %}
